@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(125, 140, 150, 0.75);
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  /* font-family: 'Poppins'; */
  /* font-family: 'Roboto'; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Gudea", "Montserrat",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
