.react-datepicker__input-container > input {
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  
}

.rc-time-picker-panel-select {
  font-size: 18px;
}

.rc-time-picker-input {
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 10px;
}

.custom-dialog  {
  background-color: black;
}

/* EventDialog.css */
.dialog-button {
  color: #1ABC9C;
  transition: color 0.3s ease-in-out;
}

.dialog-button:hover {
  color: #F39C12;
}

.error {
  color: rgb(255, 60, 60);
  margin: 1rem;
  font-weight: bold;
}
.date-picker {
  background-color: #F39C12;
}